[[source]]
name = "pypi"
url = "https://pypi.douban.com/simple/"
verify_ssl = true

[dev-packages]
django-debug-toolbar = "==3.3.0"

[packages]
django = "==3.2.10"
djangorestframework = "==3.12.0"
redis = "==3.3.5"
django-redis = "==5.1.0"
django-environ = "==0.4.5"
django-extensions = "==3.1.5"
django-cors-headers = "==3.10.1"
mysqlclient = "==1.4.2.post1"
sqlparse = "==0.3.0"
python-dateutil = "==2.6.1"
cryptography = "*"
argon2-cffi = "==19.1.0"
pymysql = "*"
django-filter = "==21.1"
djangorestframework-jwt = "==1.11.0"
sphinx = "==2.0.1"
psycopg2-binary = "==2.8.2"
coverage = "==4.5.3"
django-coverage-plugin = "==1.6.0"
flake8 = "==3.7.5"
factory-boy = "==2.12.0"
pyyaml = "*"
drf-dynamic-fields = "*"
drf-yasg = "*"

[requires]
python_version = "3.7"
